<div class="container-fluid text-center control-gallery" ng-cloack ng-style="{'height': vm.size.height}">
    <div class="container" ng-style="{'height': vm.size.height}">
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner" role="listbox">
                <img ng-src="{{vm.currentPhotoSrc}}" ng-click="vm.next()" title="Next" ng-style="{'height': vm.size.height}">
            </div>
        </div>
        <a class="left carousel-control" href="" role="button" ng-click="vm.previous()" title="Previous">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" role="button" ng-click="vm.next()" title="Next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <h4>{{vm.currentPhoto.title}}</h4>
        
    </div>
</div>
<div class="container" ng-hide="vm.fade">
    <label for="sel1">Select size:</label>
    <select class="btn" id="sel1" ng-model='vm.size' ng-change="vm.onChange(vm.size)" ng-options="size.name for size in vm.availableSizes">
    </select>
    <button class="btn btn-primary btn-sm" ng-click="vm.copyLink()">Copy Photo's Link</button>
</div>